In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
fruits = ["kiwi", "mango", "strawberry", 
          "pineapple", "gala apple", "honeycrisp apple", 
          "tomato", "watermelon", "honeydew", 
          "kiwi", "kiwi", "kiwi", 
          "mango", "blueberry", "blackberry", 
          "gooseberry", "papaya"]

In [36]:
fruits_series = pd.Series(fruits)
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [5]:
len(fruits_series)

17

In [6]:
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

In [38]:
fruits_series.size

17

In [37]:
fruits_series.shape

(17,)

In [7]:
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [39]:
fruits_series.dtype

dtype('O')

In [40]:
fruits_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [41]:
fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [42]:
fruits_series.sample(2)

5     honeycrisp apple
16              papaya
dtype: object

In [43]:
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [45]:
fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [46]:
fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [51]:
fruit_freq = fruits_series.value_counts()
fruit_freq.head(1)

kiwi    4
dtype: int64

In [52]:
fruits_series.value_counts()[fruits_series.value_counts() == 1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [56]:
fruits_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [64]:
fruits_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [69]:
fruits_series.str.count('a')+fruits_series.str.count('e')+fruits_series.str.count('i')+fruits_series.str.count('o')+fruits_series.str.count('u')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [111]:
fruit_num = fruits_series.str.len()
max_len = fruit_num.sort_values(ascending = False).head(1).values
fruits_series[fruits_series.str.len() == 16]

5    honeycrisp apple
dtype: object

In [98]:
fruits_series[fruit_num >4]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [119]:
fruito = fruits_series.str.count('o')
fruits_series[fruito>1]

6         tomato
15    gooseberry
dtype: object

In [123]:
fruit_berry = fruits_series.str.count('berry')
fruits_series[fruit_berry==1]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [124]:
fruit_apple = fruits_series.str.count('apple')
fruits_series[fruit_apple==1]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [129]:
vfruit = fruits_series.str.count('a')+fruits_series.str.count('e')+fruits_series.str.count('i')+fruits_series.str.count('o')+fruits_series.str.count('u')
fruits_series[vfruit>4]

5    honeycrisp apple
dtype: object

In [133]:
from pydataset import data
pd.cut(fruits_series,5)

TypeError: can only concatenate str (not "float") to str

In [134]:
fruits_series.value_counts(bins=5).plot.bar()

TypeError: bins argument only works with numeric data.